:root{
    --font-family: 'Titillium Web', sans-serif;
    --main-color: #7b4fb7;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}